* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #f16718;
    --secondary-color: #ff9b62;
    --other-color-01: #162542;
    --other-color-02: #7b8bad;
    --other-color-03: #e8eff2;
}

body {
    font-family: Barlow;
    overflow-x: hidden;
}

main {
    margin: 0 7%;
}

.menu {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

#logo {
    height: 100%;
    width: 5%;
}

img[src="./icons/logo.svg"] {
    height: 100%;
    width: 100%;
}

.button-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
}

#button-text-01 {
    color: var(--other-color-01);
    background-color: var(--other-color-03);
}

#button-text-01:hover {
    color: #fff;
    background-color: var(--other-color-01);
}

#menu-button {
    height: 100%;
    width: 15%;
}

.intro {
    display: flex;
    justify-content: space-between;
    min-height: 88vh;
    margin-top: 1%;
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}

#section-01 {
    min-height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-heading {
    font-size: 4.8vw;
    font-weight: 900;
    color: var(--other-color-01);
    letter-spacing: 0.1rem;
    line-height: 94.5%;
    text-transform: uppercase;
}

.paragraph {
    color: var(--other-color-02);
}

.button-sect {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 4.6vw;
    margin-top: 2%;
}

#button {
    width: 50%;
}

#button-text-02 {
    font-size: 1.3vw;
    color: #fff;
    background-color: var(--main-color);
}

#button-text-02:hover {
    background-color: var(--secondary-color);
}

h5 {
    height: 95%;
    display: flex;
    align-items: center;
    color: var(--other-color-02);
    font-size: 1.3vw;
}

.box-2 {
    height: 75%;
    width: 45%;
    align-self: center;
}

img[src="./media/image-keyboard.jpg"] {
    width: 100%;
    border-radius: 5px;
}

#square-1, #square-2 {
    position: absolute;
}

#square-1 {
    height: 24vh;
    width: 24vh;
    top: 10vh;
    left: 95%;
}

#square-2 {
    height: 24vh;
    width: 24vh;
    top: 124.5vh;
    right: 95%;
}

.mid-sect {
    display: flex;
    gap: 2%;
    height: 65vh;
    margin-top: 2%;
}

.box-3 {
    height: 100%;
    width: 25%;
    background-image: url("./media/image-phone-and-keyboard.jpg");
    background-size: 100% 100%;
}

.box-3, #overlay, .box-4, img[src="./media/image-glass-and-keyboard.jpg"] {
    border-radius: 10px;
}

#overlay {
    height: 100%;
    width: 100%;
    background-color: hsla(18, 100%, 48%, 0.75);
}

.box-4 {
    height: 100%;
    width: 40%;
}

img[src="./media/image-glass-and-keyboard.jpg"] {
    height: 100%;
    width: 100%;
}

.box-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    position: relative;
    left: 1%;
}

#section-02 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 48%;
    width: 70%;
}

#header-2 {
    font-size: 2vw;
    font-weight: 800;
    color: var(--other-color-01);
    text-transform: uppercase;
}

#paragraph-2 {
    width: 18vw;
}

.bottom-sect {
    height: 55vh;
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
}

.box-6, 
 .box-7,
 .box-8,
 .box-9 {
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 25%;
    background-color: var(--main-color);
    border-radius: 8px;
 }

i {
    color: var(--other-color-03);
    transform: scale(150%);
}

h6 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.6vw;
}
 
footer {
    height: 10vh;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-weight: 600;
}

@media  screen and (max-width: 850px) {
    main {
        margin: 0 4%;
    }
    
    #logo {
        width: 10%;
    }

    #menu-button {
        width: 30%;
    }

    .intro, .mid-sect {
        min-height: 57vh;
    }

    .box-1 {
        width: 50%;
    }

    #section-01 {
        min-height: 55%;
    }

    #button-text-02, h5 {
        font-size: 1.6vw;
    }

    #main-heading {
        font-size: 5.5vw;
    }

    .box-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 75%;
        width: 50%;
        position: relative;
        left: 5%;
    }

    #square-1, #square-2 {
        display: none;
    }

    .mid-sect {
        display: grid;
        gap: 2%;
        grid-template-columns: 32% 32% 32%;
        grid-template-rows: 60% 40%;
    }

    .box-3 {
        width: 100%;
        grid-column: 1 / span 1;
    }

    .box-4 {
        width: 100%;
        grid-column: 2 / span 2;
    }

    .box-5 {
        width: 100%;
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
        left: 0;
    }

    #section-02 {
        height: 60%;
        width: 92%;
        flex-direction: row;
        align-items: center;
    }

    #header-2 {
        font-size: 3vw;
    }

    #paragraph-2 {
        width: 50vw;
    }

    .bottom-sect {
        height: 130vh;
        flex-wrap: wrap;
    }

    .box-6, 
     .box-7,
     .box-8,
     .box-9 {
        height: 48%;
        width: 50%;
        justify-content: flex-start;
        gap: 6%;
     }

    .icons {
        height: 15vw;
        width: 14vw;
    }
     
    h6 {
        font-size: 2.6vw;
     }
}

@media screen and (max-width: 450px) {
    .menu {
        height: 6.5vh;
        margin-top: 3%;
    }

    #logo {
        width: 15%;
    }

    #menu-button {
        width: 45%;
    }

    .intro {
        height: 88vh;
        margin-top: 8%;
        flex-direction: column;
    }

    .box-1 {
        width: 100%;
        min-height: 50%;
    }

    #section-01 {
        min-height: 80%;
    }

    #main-heading {
        font-size: 12vw;
    }

    .button-sect {
        height: 15%;
    }

    #button-text-02, h5 {
        font-size: 3.5vw;
    }

    .box-2 {
        align-items: flex-start;
        width: 105%;
        min-height: 2%;
        left: 1.8%;
    }

    .mid-sect {
        height: 65vh;
        margin-top: 6%;
        grid-template-rows: 40% 60%;
    }

    #section-02 {
        height: 68%;
        flex-direction: column;
    }

    #header-2 {
        font-size: 7vw;
        text-align: center;
    }

    #paragraph-2 {
        width: 100%;
        text-align: center;
        font-size: 4.5vw;
    }

    .bottom-sect {
        height: 150vh;
        margin-top: 30%;
        align-items: space-between;
    }
    
    .box-6, 
     .box-7,
     .box-8,
     .box-9  {
        width: 100%;
        height: 22%;
        align-items: center;
     }

    .icons {
        width: 20%;
    }

    h6 {
        font-size: 6vw;
    }

    h6, .paragraph {
        text-align: center;
    }

    footer {
        margin-top: 20%;
     }

    #footer-text {
        font-size: 3.2vw;
    }
}
    
