* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Barlow, sans-serif;
}

:root {
    --orange-1: #f16718;
    --orange-2: #ff9b62;
    --secondary-col: #162542;
    --secondary-col-1: #7b8bad;
    --color: #e8eff2;
}

body {
    max-width: 100vw;
    height: 100vh;
    padding: 1.5% 10%;
    overflow-x: hidden;
}

[class^="box-"] {
    height: 100%;
    border-radius: 8px;
    /* border: 2px solid blue; */
}

.menu {
    height: 5.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.button-menu {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    text-transform: uppercase;
    color: var(--secondary-col);
    background-color: var(--color);
    border-radius: 10px;
}

.button-menu:hover {
    color: #fff;
    background-color: var(--secondary-col);
}

main {
    height: 100%;
}

.intro, .mid-sect, .bottom-sect {
    display: flex;
    justify-content: space-between;
    height: calc(100% / 2.08);
}

.intro {
    margin-bottom: 2%;
}

.box-1, .box-2 {
    flex-basis: 46%;
}

.box-1 {
    display: flex;
    align-items: center;
    gap: 3%;
}

.header {
    width: 60%;
    color: var(--secondary-col);
    font-weight: 800;
    /* font-size: 3.8em; */
    font-size: 1vw;
    text-transform: uppercase;
}

.paragraph {
    color: var(--secondary-col-1);
    font-size: 1.2em;
    font-weight: 410;
    line-height: 1.2em;
}

.button-sect {
    margin-top: 6%;
    width: 100%;
    display: flex;
    gap: 8%;
}

.button-1, .release-date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 510;
    height: 50px;
}

.button-1 {
    width: 45%;
    color: #fff;
    background-color: var(--orange-1);
    border-radius: 10px;
}

.button-1:hover {
    background-color: var(--orange-2);
}

.release-date {
    color: var(--secondary-col-1);
}

.box-2 {
    background-image: url("./media/image-keyboard.jpg");
    background-size: 110% 100%;
    background-repeat: no-repeat;
}

.pattern-square {
    position: absolute;
    transform: scaleY(70%);

}

#square-1 {
    top: 6%;
    left: 92%;
}

#square-2 {
    top: 79%;
    right: 92%;
}

.box-3 {
    flex-basis: 20%;
    background-image: url("./media/image-phone-and-keyboard.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.image-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(241, 103, 24);
    opacity: 0.7;
    border-radius: 8px;
}

.box-4, .box-5 {
    flex-basis: 32%;
}

.box-4 {
    position: relative;
    right: 2.5%;
    background-image: url("./media/image-glass-and-keyboard.jpg");
    background-size: 100% 100%;
}

.box-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

.header-1 {
    font-weight: 700;
    font-size: 2rem;
    color: #162542;
    text-transform: uppercase;
}

.bottom-sect {
    display: flex;
    margin-top: 2%;
    gap: 2%;
}

.box-6, .box-7, .box-8, .box-9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    flex-basis: 25%;
}

.icon-monitor, .icon-bluetooth, .icon-battery, .icon-bulb {
    width: 25%;
    height: 15%;
    display: grid;
    place-content: center;
    color: #fff;
    font-size: 1.5rem;
    background-color: var(--orange-1);
    border-radius: 6px;
}

h3 {
    color: #162542;
    font-size: 1.5rem;
}

footer {
    position: relative;
    display: grid;
    place-content: center;
    top: 65%;
    height: 20%;
}

span {
    color: #162542;
    font-weight: 410;
}

.footer-text {
    color: #7b8bad;
}

@media screen and (max-width: 900px) {
    body {
        min-height: 100vh;
        padding: 1.5% 3%;
        overflow-x: hidden;
    }

    .button-menu {
        width: 20%;
    }

    .intro {
        min-height: 60%;
    }

    .box-1 {
        position: relative;
        top: 20%;
        height: 50%;
    }

    .box-2 {
        position: relative;
        left: 4%;
    }

    .pattern-square {
        display: none;
    }

    .mid-sect {
        min-height: 70%;
        display: grid;
        grid-template-columns: 35% 60%;
        grid-template-rows: 50% 50%;
    }

    .box-4 {
        position: relative;
        left: 0.4%;
    }

    .box-5 {
        grid-column: 1 / span 2;
    }

    #box-5-inner {
        display: flex;
        align-items: center;
        gap: 10%;
    }

    .header-1 {
        width: 30%;
    }

    #paragraph-body {
        font-size: 1rem;
        width: 50%;
    }

    .bottom-sect {
        flex-wrap: wrap;
    }

    .box-6, .box-7, .box-8, .box-9 {
        min-width: 40%;
        min-height: 50%;
        flex-grow: 2;
    }

    footer {
        top: 150%;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        margin-bottom: 0;
    }

    .button-menu {
        height: 75%;
        width: 40%;
    }

    .intro {
        margin-top: 0;
        min-height: 60%;
        flex-direction: column;
    }

    .box-1 {
        position: relative;
        top: 2%;
        margin-bottom: 10%;
    }

    .header-div {
        width: 100%;
    }

    .header {
        font-size: 3rem;
    }

    .box-2 {
        position: relative;
        left: 0.3%;
        width: 105%;
    }

    .mid-sect {
        min-height: 60%;
        margin-top: 10%;
        grid-template-areas: "a b"
                             "c c";
    }

    .box-3 {
        position: relative;
        right: 12%;
        grid-area: a;
        
    }

    .box-4 {
        grid-area: b;
    }

    .box-5 {
        grid-area: c;
        text-align: center;

    }

    #box-5-inner {
        height: 80%;
        flex-direction: column;
        justify-content: space-around;
    }

    .header-1, #paragraph-body {
        width: 90%;
        text-align: center;
    }

    .bottom-sect {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        width: 100%;
    }

    .box-6, .box-7, .box-8, .box-9 {
        min-height:  calc(100% / 1.5);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    footer {
        top: 150%;
    }
}